@model Recipe

<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        <th>Recipe ID</th>
        <th>Name</th>
        <th>Recipe Description</th>
        <th>Category ID</th>
        <th>Ingredients</th>
        
    </tr>
    <tr id="TableRow">
        <td id="RecipeView">@Model.RecipeID</td>
        <td>@Model.Name</td>
        <td>@Model.RecipeDescription</td>
        @switch (Model.CategoryID)
        {
            case 1:
                <td>Cakes</td>
                break;
            case 2:
                <td>Cookies</td>
                break;
            case 3:
                <td>Muffins</td>
                break;
            case 4:
                <td>Breads</td>
                break;
            case 5:
                <td>Garnishes</td>
                break;
            case 6:
                <td>Custards</td>
                break;
            case 7:
                <td>Crusts</td>
                break;
            case 8:
                <td>Pies/Tarts</td>
                break;
            case 9:
                <td>Breakfasts</td>
                break;
        }
        <td>@Model.Ingredients</td>
    </tr>
</table>
<div class="text-center">
    <img class="ViewImage" src="~/@Model.ImagePath" alt="Image" />

</div>

<div style="display: block; margin-bottom: 20px;">
    <a href="/Recipe/UpdateRecipe/@Model.RecipeID"><input type="button" value="Update this Recipe"/></a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteRecipe", "Recipe", "Post"))
    {
        <input type="hidden" asp-for="RecipeID" value="@Model.RecipeID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this Recipe" />
    }
</div>